<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825528106452-0ridhjjl27amgn00mediogdbahe3n254.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825528106452-0ridhjjl27amgn00mediogdbahe3n254</string>
	<key>API_KEY</key>
	<string>AIzaSyBipVO82l_V3M8day5YM-Us0vTnDrSs9wI</string>
	<key>GCM_SENDER_ID</key>
	<string>825528106452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carSaleFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>roadway-carsale</string>
	<key>STORAGE_BUCKET</key>
	<string>roadway-carsale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825528106452:ios:b254b846e774b66f842a41</string>
</dict>
</plist>